.bg-div {
  background-color: rgba(57, 61, 66, 0.39);
}
.movie-detail-poster-card {
  width: 20rem;
  height: 30rem;
}
.movie-detail-text-container {
  display: flex;
  justify-content: center;
  align-items: flex-start;
  flex-direction: column;
  margin-top: 1rem;
}
.movie-detail-text-container p,
.movie-detail-text-container h4 {
  display: flex;
  justify-content: center;
  align-items: center;
}
.movie-detail-text-container p {
  margin-left: 0.5rem;
}
.movie-detail-container {
  display: flex;
  justify-content: center;
  align-items: center;
}
@media (max-width: 768px) {
  .text-wrap {
    flex-wrap: wrap;
  }
  .movie-detail-container {
    flex-direction: column;
  }
  .text-wrap .mb-4 {
    margin-bottom: 1rem !important;
  }
}
